build_info.txt
*\build_info.txt
kubernetes/terraform/*.tfstate
kubernetes/terraform/*.tfstate.*.backup
kubernetes/terraform/*.tfstate.backup
kubernetes/terraform/*.tfvars
kubernetes/terraform/.terraform/
kubernetes/terraform/*account.json
kubernetes/terraform/*.tfstate.lock.info
kubernetes/prerequisites/ui-ingress-secret.yml
.env
